
* {
    border: none;
    border-radius: 0;
    font-family: "RobotoMonoNerdFont Regular";
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: #2A2A37;
    color: #DCD7BA;
    padding: 5px;
}

#window {
    font-weight: bold;
}
#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    padding: 0px 2px;
    margin: 5px 3px;
    background: #363646;
    border-bottom: solid 3px #957FB8;
    color: #DCD7BA;
}

#workspaces button.empty {
    border-bottom: none 
}

#workspaces button.focused {
    color: #1F1F28;
    background: #957FB8;
    border-bottom: solid 3px #363646;
    border-radius: 0px;
}

#submap {
    background: #64727D;
    border-bottom: 3px solid #D5D6C8;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    background: #363646;
    padding: 5px 12px;
    margin: 3px 3px;
}

#clock {
    font-weight: bold;
    color: #FFA066;
    border-bottom: solid 3px #FFA066;
}

#battery {
    color: #957FB8;
    border-bottom: solid 3px #957FB8;
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: #D5D6C8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: #7FB4CA;
    border-bottom: solid 3px #7FB4CA;
}

#memory {
    color: #98BB6C;
    border-bottom: solid 3px #98BB6C;
}

#network {
    color: #E6C384;
    border-bottom: solid 3px #E6C384;
}

#network.disconnected {
    color: red;
    border-bottom: solid 3px red;
}

#pulseaudio {
    color: #7AA89F;
    border-bottom: solid 3px #7AA89F;
}

#pulseaudio.muted {
}

#tray {
}

