* {
    border: none;
    border-radius: 0;
    font-family: "RobotoMonoNerdFont Regular";
    font-size: 14px;
    min-height: 0;
}
window#waybar {
    background: transparent;
    color: #DCD7BA;
}
#window {
    font-weight: bold;
}
.modules-left {
    border-radius: 20px;
    padding: 0px 15px;
}
#workspaces {
    padding: 0px 5px;
    margin-right: 20px;
}
#workspaces button {
    padding: 0px 2px;
    margin: 0px 3px;
    border-bottom: solid 3px #DCD7BA;
    color: #DCD7BA;
}

#workspaces button.empty {
    border-bottom: none 
}

#workspaces button.active {
    color: black;
    background: #DCD7BA;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0px 12px;
    margin: 3px 3px;
    color: #DCD7BA;
}

#clock {
    font-weight: bold;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: #D5D6C8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    color: red;
}
